progress { font-size: 70px;} 
progress { margin-left: 50px;} 
progress { margin-right: 50px;}
progress { margin-top: 50px;} 
progress {
   -webkit-appearance: none;
}
progress::-webkit-progress-bar-value {
  -webkit-appearance: none;
  background: orangered;}