progress {
  margin: 50px 50px 0;
  font-size: 110px;
}

body {
	background-color: #FFFFFF;
}

.base {
	height: 900px;
    width: 90%;
    margin: auto;
    background-color: #2c2c2c;
    
    padding: 0 10px;
}

.vbase {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;	
}

.team_cop {
	position: absolute;
	left: 50%;
	margin-left: -600px;	
}


.team_terr {	
	position: absolute;
	right: 50%;
	margin-right: -600px;

}

.team {
	border-style: solid;
	width: 240px;
	height: 80px;
	border-radius: 8px;
	border-color: #7f7f7f;
	border-width: 1px;
	line-height: 0.6;
	background-color: #454545;
	font-family: Arial;
	font-size: 16px;
	color: #868686;
	margin-top: 500px;
	text-align: left;
}


.cls { 
	margin-left: 9px;
}

#first {
	margin-top: 7px;
	margin-left: 4px;
}

.txt
{
	float: right;
    text-align: right;
	margin-right: 4px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FF0000;
	color: #000000;
}

#txt1 {
	background-color: #ff9e25;
	color: #000000;
}

.txtt {
	text-align: center;
	color: #FFFFFF;
}

.buttons {
	text-align: center;
	margin-top: 350px;
	color:#DCDCDC; 
	
}

#progress {
	height: 10%;
	width: 90%;
	margin-left: 85px;
}